{% extends 'base.html' %}
{% load static %}

{% block title %}Review Details{% endblock %}

{% block content %}
  <h1 class="text-white">Review of {{ review.movie }}</h1>
  <a href="{{ review.movie_detail_page_url }}" class="mb-3 btn btn-secondary">
    <i class="fas fa-arrow-left"></i>
    Return to Movie Page
  </a>
  {% include 'movies/review_with_comments.html' %}
  <script type="text/javascript">
    const toggle_like_status = id => {
      const like_button = document.getElementById(id);
      const like_button_text = like_button.getElementsByTagName("span")[0];
      const like_count = parseInt(like_button_text.innerHTML)
      like_button.classList.toggle("btn-primary");
      like_button.classList.toggle("btn-secondary");
      if (like_button.classList.contains("btn-primary"))
        like_button_text.innerHTML = like_count + 1;
      else
        like_button_text.innerHTML = like_count - 1;
    }
    const toggle_hide = id => {
      const element = document.getElementById(id);
      element.classList.toggle("d-none")
    }
  </script>
{% endblock %}
