{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | MovieDuck</title>
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
  </head>
  <body class="bg-dark page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

      {% if user.is_authenticated %}
        <!-- Sidebar -->
        {% include 'includes/sidebar.html' %}
      {% endif %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          {% include 'includes/navbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid mt-4">
            {% block content %}{% endblock %}
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    {% block js-extras %}{% endblock js-extras %}
  </body>
</html>
