{% extends 'base.html' %}
{% load static %}

{% block title %}About MovieDuck{%endblock %}

{% block content %}
  <div class="row m-5">
    <div class="col-6">
      <h3 class="text-primary text-uppercase font-weight-bolder">
        Welcome to MovieDuck
      </h3>
      <h2 class="text-white mt-4">
        MovieDuck is a web platform for discussion, reviews, and general movie
        information.
      </h2>
      {% if not user.is_authenticated %}
        <a class="btn btn-primary btn-lg mt-5" href="{% url 'registration:signup' %}">Sign up now</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
