* {
  font-family: 'Open Sans', sans-serif;
}

#content-wrapper {
  background-color: #081c36 !important;
}

.bg-dark {
  background-color: #081c36 !important;
}

.bg-gradient-primary {
  background-color: #0c1a28 !important;
  background-image: none;
}

.border-primary {
  border-color: #ff5c48;
  border-radius: 20px;
  padding: 12px;
}

.navbar-dark {
  color: #ffffff;
}

.dropdown-menu {
  background-color: #253341;
}

.dropdown-item:hover {
  background-color: #253341 !important;
}

hr, .dropdown-divider {
  border-color: #8d9db1;
}

.text-primary {
  color: #ff5c48 !important;
}

.text-secondary {
  color: #8d9db1 !important;
}

.btn-primary {
  background-color: #ff5c48;
  border-color: #ff5c48;
}

.btn-primary:hover {
  background: #FF7662;
  border-color: #FF7662;
}

.form-control {
  background-color: #253341;
  border-color: #253341;
  color: #8d9db1;
}

.form-control:focus {
  background-color: #253341;
  border-color: #253341;
  color: #8d9db1;
}
